# SPDX-FileCopyrightText: 2022 Volker Krause <vkrause@kde.org>
# SPDX-License-Identifier: CC0-1.0

Django>=4.1,<5.0
psycopg2
uwsgi

# has to match the version of the native gdal packages
pygdal==3.2.2.*

requests
