[Desktop Entry]
Name=Public Alerts
Name[ca]=Alertes públiques
Name[ca@valencia]=Alertes públiques
Name[es]=Alertas públicas
Name[eu]=Alerta publikoak
Name[fr]=Alertes publiques
Name[he]=התראות ציבוריות
Name[ka]=საჯარო განგაშები
Name[lv]=Sabiedrības brīdinājumi
Name[nl]=Publieke waarschuwingen
Name[sl]=Public Alerts
Name[sv]=Allmänna varningar
Name[tr]=Acil Durum İkazları
Name[uk]=Попередження цивільного захисту
Name[x-test]=xxPublic Alertsxx
Name[zh_TW]=公共警報
Exec=publicalerts
Icon=weather-storm
Type=Application
Comment=Weather and emergency alerts.
Comment[ca]=Alertes meteorològiques i d'emergències.
Comment[ca@valencia]=Alertes meteorològiques i d'emergències.
Comment[es]=Alertas meteorológicas y de emergencia.
Comment[eu]=Eguraldi eta emergentzia alertak.
Comment[fr]=Alertes météorologiques et d'urgence.
Comment[he]=התראות מזג אוויר וחירום.
Comment[ka]=ამინდის და გადაუდებელი განგაშები.
Comment[lv]=Brīdinājumi par laikapstākļiem un ārkārtas stāvokļiem.
Comment[nl]=Weer en noodgeval waarschuwingen.
Comment[sl]=Vremenska in nujna opozorila.
Comment[sv]=Väder- och nödvarningar.
Comment[tr]=Hava durumu ve acil durum ikazları.
Comment[uk]=Попередження про природні та аварійні ситуації.
Comment[x-test]=xxWeather and emergency alerts.xx
Comment[zh_TW]=天氣與緊急事件警報。
Terminal=false
Categories=Qt;KDE;Utility;
X-KDE-FormFactor=desktop;tablet;handset;
