[Desktop Entry]
Name=Public Alerts
Name[ar]=الإنذارات العامة
Name[ca]=Alertes públiques
Name[ca@valencia]=Alertes públiques
Name[de]=Öffentliche Warnungen
Name[es]=Alertas públicas
Name[eu]=Alerta publikoak
Name[fi]=Yleiset hälytykset
Name[fr]=Alertes publiques
Name[gl]=Alertas cidadás
Name[he]=התראות ציבוריות
Name[ia]=Alertas public
Name[it]=Allerta pubblica
Name[ka]=საჯარო განგაშები
Name[ko]=공공 경보
Name[lv]=Sabiedrības brīdinājumi
Name[nl]=Publieke waarschuwingen
Name[pl]=Publiczne ostrzeżenia
Name[pt_BR]=Alertas públicos
Name[sl]=Public Alerts
Name[sv]=Allmänna varningar
Name[tr]=Acil Durum İkazları
Name[uk]=Попередження цивільного захисту
Name[zh_CN]=公共警报
Name[zh_TW]=公共警報
Exec=publicalerts
Icon=weather-storm
Type=Application
Comment=Weather and emergency alerts.
Comment[ar]=إنذارات الطقس والطوارئ.
Comment[ca]=Alertes meteorològiques i d'emergències.
Comment[ca@valencia]=Alertes meteorològiques i d'emergències.
Comment[de]=Wetter- und Notfallwarnungen.
Comment[es]=Alertas meteorológicas y de emergencia.
Comment[eu]=Eguraldi eta emergentzia alertak.
Comment[fi]=Sää- ja hätätilahälytykset.
Comment[fr]=Alertes météorologiques et d'urgence.
Comment[gl]=Alertas meteorolóxicas e de emerxencias.
Comment[he]=התראות מזג אוויר וחירום.
Comment[it]=Allerta meteo ed emergenze.
Comment[ka]=ამინდის და გადაუდებელი განგაშები.
Comment[ko]=날씨와 긴급 경보입니다.
Comment[lv]=Brīdinājumi par laikapstākļiem un ārkārtas stāvokļiem.
Comment[nl]=Weer en noodgeval waarschuwingen.
Comment[pl]=Stany pogotowania i ostrzeżenia pogodowe.
Comment[pt_BR]=Alertas meteorológicos e de emergência.
Comment[sl]=Vremenska in nujna opozorila.
Comment[sv]=Väder- och nödvarningar.
Comment[tr]=Hava durumu ve acil durum ikazları.
Comment[uk]=Попередження про природні та аварійні ситуації.
Comment[zh_CN]=天气和紧急情况警报。
Comment[zh_TW]=天氣與緊急事件警報。
Terminal=false
Categories=Qt;KDE;Utility;
X-KDE-FormFactor=desktop;tablet;handset;
